# This is not a real Debian control file, though the syntax is compatible.
# It's project metadata for the shipper tool

Package: cupl

Description: A faithful implementation of the ancient CUPL and CORC languages.
 CUPL was an early (1966) teaching language implemented as a batch compiler on
 the IBM/360 at Cornell University.  It was descended from an earlier (1962)
 experimental language called CORC (CORnell Compiler), which was in turn derived
 loosely from Algol-58. This project implements both.

#XBS-Destinations: freecode

Homepage: http://www.catb.org/~esr/cupl

XBS-HTML-Target: index.html

XBS-Repository-URL: http://thyrsus.com/gitweb/?p=cupl.git

XBS-Developer-Clone: git@thyrsus.com:cupl

XBS-Anonymous-Clone: git://thyrsus.com/repositories/cupl.git

#XBS-Project-Tags: retrocomputing

XBS-VC-Tag-Template: %(version)s

